button {
  display: inline-block;
  width: calc(100% / 12 + 1px);
  text-align: center;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  margin-left: -1px;
  vertical-align: middle;
  height: 100%;
}

:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}