@media(orientation: portrait) {
  #doc {
    transform: rotate(90deg) translate(0, -100vw);
    transform-origin: 0% 0%;
    width: 100vh;
    height: 100vw;
  }
}

@media(orientation: landscape) {
  #doc {
    width: 100vw;
    height: 100vh;
  }
}

#doc {
  position: absolute;
  top: 0;
  left: 0;
}

mat-sidenav {
  padding-top: 60px;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}

#wrapper {
  margin: 0 5%;
  height: 100%;
  width: 90%;
  overflow: visible;
}

.qwixx-line, .qwixx-half-line {
  display: block;
  position: relative;
  box-sizing: border-box;
  height: (90% / 6 - 4%);
  margin: 2% 0;
}
.qwixx-half-line {
  display: inline-block;
  width: 50%;
  margin: 0;
}

app-qwixx-failed, app-qwixx-dice {
  display: inline-block;
}

#dices {
  & * {
    position: absolute;
    height: 100%;
    width: calc(100% / 6 - 2%);
  }

  & :nth-child(1) {
    right: 1%;
  }
  & :nth-child(2) {
    right: calc(100% / 6 + 1%);
  }
  & :nth-child(3) {
    right: calc(200% / 6 + 1%);
  }
  & :nth-child(4) {
    right: calc(300% / 6 + 1%);
  }
  & :nth-child(5) {
    right: calc(400% / 6 + 1%);
  }
  & :nth-child(6) {
    right: calc(500% / 6 + 1%);
  }
  & :nth-child(7) {
    right: calc(600% / 6 + 1%);
  }
}

#scoreboard {
  .border {
    border: 2px solid;
    border-radius: 5px;
  }
  
  .red-b {
    border-color: #f44;
  }
  
  .yellow-b {
    border-color: #e0e044;
  }
  
  .green-b {
    border-color: #00e044;
  }

  .blue-b {
    border-color: #88f;
  }

  .gray-b {
    border-color: lightgrey;
  }
  
  .score {
    display: inline-block;
    width: calc(90vw / 11);
    text-align: center;
    box-sizing: border-box;
  }
}