@media(orientation: portrait) {
  #doc {
    transform: rotate(90deg) translate(0, -100vw);
    transform-origin: 0% 0%;
    width: 100vh;
    height: 100vw;
  }
}

#doc {
  position: absolute;
  top: 0;
  left: 0;
}

mat-sidenav {
  padding-top: 60px;
}

mat-sidenav-container {
  height: 100%;
  width: 100%;
}

#wrapper {
  margin: 0 5%;
  height: 100%;
  width: 90%;
  overflow: visible;
}

#scoreboard {
  .border {
    border: 2px solid;
    border-radius: 5px;
  }
  
  .red-b {
    border-color: #f44;
  }
  
  .yellow-b {
    border-color: #e0e044;
  }
  
  .green-b {
    border-color: #00e044;
  }

  .blue-b {
    border-color: #88f;
  }

  .gray-b {
    border-color: lightgrey;
  }
  
  .score {
    display: inline-block;
    width: calc(90vw / 11);
    text-align: center;
    box-sizing: border-box;
  }
}