/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 100%; position: absolute; top: 0; left: 0;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

button:focus {outline:0;}

.qwixx-line {
  display: block;
  position: relative;
  box-sizing: border-box;
  height: (90% / 6 - 4%);
  margin: 2% 0;
}

.red {
  background: #f44;

  &.marked {
    background: #b00;
    color: white;
  }

  &.light {
    opacity: 0.65;
  }
}

.yellow {
  background: #e0e044;

  &.marked {
    background: #bb0;
    color: white;
  }

  &.light {
    opacity: 0.65;
  }
}

.blue {
  background: #88f;

  &.marked {
    background: #00f;
    color: white;
  }

  &.light {
    opacity: 0.65;
  }
}

.green {
  background: #00e044;

  &.marked {
    background: #0b0;
    color: white;
  }

  &.light {
    opacity: 0.65;
  }
}

.grey {
  background: lightgrey;

  &.marked {
    background: grey;
    color: white;
  }

  &.light {
    opacity: 0.65;
  }
}